/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */

/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=64i0x0kqTu9fIJKpOFjuhp3xJjR */

/* As hex codes */

.color-primary-0 { color: #4D29A5 }	/* Main Primary color */
.color-primary-1 { color: #9277D4 }
.color-primary-2 { color: #6238C9 }
.color-primary-3 { color: #371589 }
.color-primary-4 { color: #270B6C }

.color-secondary-1-0 { color: #821E9F }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #BB6DD0 }
.color-secondary-1-2 { color: #A32BC4 }
.color-secondary-1-3 { color: #690B84 }
.color-secondary-1-4 { color: #520369 }

.color-secondary-2-0 { color: #284BA1 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #7690D2 }
.color-secondary-2-2 { color: #3860C6 }
.color-secondary-2-3 { color: #153586 }
.color-secondary-2-4 { color: #0B266A }

.color-complement-0 { color: #F0D226 }	/* Main Complement color */
.color-complement-1 { color: #FFEC82 }
.color-complement-2 { color: #FFE031 }
.color-complement-3 { color: #C8AB0B }
.color-complement-4 { color: #9E8600 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 77, 41,165,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(146,119,212,1) }
.rgba-primary-2 { color: rgba( 98, 56,201,1) }
.rgba-primary-3 { color: rgba( 55, 21,137,1) }
.rgba-primary-4 { color: rgba( 39, 11,108,1) }

.rgba-secondary-1-0 { color: rgba(130, 30,159,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(187,109,208,1) }
.rgba-secondary-1-2 { color: rgba(163, 43,196,1) }
.rgba-secondary-1-3 { color: rgba(105, 11,132,1) }
.rgba-secondary-1-4 { color: rgba( 82,  3,105,1) }

.rgba-secondary-2-0 { color: rgba( 40, 75,161,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(118,144,210,1) }
.rgba-secondary-2-2 { color: rgba( 56, 96,198,1) }
.rgba-secondary-2-3 { color: rgba( 21, 53,134,1) }
.rgba-secondary-2-4 { color: rgba( 11, 38,106,1) }

.rgba-complement-0 { color: rgba(240,210, 38,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(255,236,130,1) }
.rgba-complement-2 { color: rgba(255,224, 49,1) }
.rgba-complement-3 { color: rgba(200,171, 11,1) }
.rgba-complement-4 { color: rgba(158,134,  0,1) }

/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */
