<div class="form-container">
  <h2>Join the Club</h2>

  <% if flash.has?(:message) %>
    <% flash[:message].uniq.each do |message| %>
    <p id="flash-message"><%= message %></p>
    <% end %>
  <% end %>

  <form method=POST action='/signup'>
    <label>Your username: </label>
    <input type="text" name="user[name]" placeholder="name"><br>
    <p>Your username will be your login name: two words (e.g., first and last names) are permitted.</p><br>
    <label>Your password: </label>
    <input type="text" name="user[password]" placeholder="password"><br></br>
    <input type="submit" name="Sign Up" id="submit-1" value="Sign Up">
  </form>

  <h3>Already a member?  <button class="inline"><a href="/login">Log In</a></button></h3>
</div>
