<div class="light-container clear">
  <h3 class="title-2">The Finer Things Club Member Directory</h3>

  <p> There are currently <%= @users.count %> members in the Club:<p><br>

  <table>
    <thead>
      <th>Member Username</th>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
