<h1>Log In to the Finer Things Club</h1>

<form method=POST action='/login'>
  <label>Your Username: </label>
  <input type="text" name="user[username]" placeholder="username">
  <label>Your password: </label>
  <input type="text" name="user[password]" placeholder="password">
  <input type="submit" name="Log In">
</form>
