<h1>Add new music to your Finer Things collection</h1>

<% if flash.has?(:message) %>
  <p><%= flash[:message].uniq %></p>
<% end %>

<form method="POST" action="/songs">
  <label>Name: </label>
  <input type="text" name="song[name]" placeholder="song name">
  <label>Artist: </label>
  <input type="text" name="song[artist]" placeholder="artist">
  <input type="submit" name="submit" value="Add Music">
</form>
