<div class="form-container clear">
  <h2>Add new music to your collection</h2>

  <% if flash.has?(:message) %>
    <% flash[:message].uniq.each do |message| %>
    <p id="flash-message"><%= message %>.</p>
    <% end %>
  <% end %>

  <form method="POST" action="/songs">
    <label class="title">Name: </label>
    <input type="text" name="song[name]" placeholder="song name"><br>
    <label class="title">Artist: </label>
    <input type="text" name="song[artist]" placeholder="artist"><br></br>
    <div class="submit">
      <input type="submit" name="submit" id="submit" value="Add Music">
    </div>
  </form>
</div>
