book edit form

<% if flash.has?(:message) %>
  <p><%= flash[:message].uniq %></p>
<% end %>

<form method="POST" action="/books/<%= @book.id %>">
  <input type="hidden" name="_method" value="PATCH">
  <label>Title: </label>
  <input type="text" name="book[name]" value="<%= @book.name %>">
  <label>Author: </label>
  <input type="text" name="book[author]" value="<%= @book.author %>">
  <input type="submit" name="submit" value="Edit Book">
</form>
