<div class="form-container">
  <h2>Add a new book to your collection</h2>

  <% if flash.has?(:message) %>
    <p id="flash-message"><%= flash[:message].uniq %></p>
  <% end %>

  <form method="POST" action="/books">
    <label class="title">Title: </label>
    <input type="text" name="book[name]" placeholder="title"><br>
    <label class="title">Author: </label>
    <input type="text" name="book[author]" placeholder="author"><br></br>
    <div class="submit">
      <input type="submit" id="submit" name="submit" value="Add Book">
    </div>
  </form>
</div>
