<h1>Add a new book to your Finer Things collection</h1>

<form method="POST" action="/books">
  <label>Title: </label>
  <input type="text" name="book[title]" placeholder="title">
  <label>Author: </label>
  <input type="text" name="book[author]" placeholder="author">
  <input type="submit" name="submit" value="Add Book">
</form>
