<h1>Add a new book to your Finer Things collection</h1>

<% if flash.has?(:message) %>
  <p><%= flash[:message].uniq %></p>
<% end %>

<form method="POST" action="/books">
  <label>Title: </label>
  <input type="text" name="book[name]" placeholder="title">
  <label>Author: </label>
  <input type="text" name="book[author]" placeholder="author">
  <input type="submit" name="submit" value="Add Book">
</form>
