individual book show page

<h1>The newest book in your collection of Finer Things:</h1>

<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

<p><%= @book.title %> by <%= @book.author %></p>

<form method="POST" action="/books/<%= @book.id %>/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Book">
</form>
